.App-main{
    flex: 1;
}

.name-content{
    margin: 5px;
}

button{
    width: 200px;
    height: 50px;
    background-color: rgba(255, 176, 90, 1);
    margin: 15px;
    border-width: 2px;
    font-size: 17px;
    font-weight: bold;
}

.Input-custom{
    display: flex;
    flex-direction: column;
    width: 200px;
    text-align: center;
}

input{
    margin-bottom: 0;
}

label{
    text-align: left;
}

p{
    text-align: left;
}

#Input-conteiner{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    grid-gap: 15px; 
}

.content{
    height: 400px;
}

.textarea{
    width: '100%';  
    resize: 'none'; 
    overflow: 'auto';
}